<% provide(:title, "My Samples") %>

<div class="center">
    <div class="wrapper">
        <button class="btn-map" id="change-map">Map View</button>
        <button class="btn-map" id="change-list">List View</button>
        <button class="btn-map active" id="change-grid">Grid View</button>
    </div>
    
    <div class="wrapper">
        <div id="grid-view">
            <% @locations['data'].each do |sample| %>
                <div class="grid">
                    <img src= "<%= sample['photo'] %>"/>
                    <h3>Sample ID: <%= sample['id'] %></h3>
                    <p><b>Date/Time:</b> <%= sample['datetime'] %> <br/>
                    <b>Weather:</b> <%= sample['weather'] %><br/>
                    <b>Latitude:</b> <%= sample['lat'] %><br/>
                    <b>Longitude:</b> <%= sample['lng'] %></p>
                    <%= link_to "Read more > ", samples_path(sample['id']), class: 'read-more' %>
                </div>
            <% end %>
        </div>
    </div>
    
</div>