<% provide(:title, "My Samples") %>

<div class="center">
    
    <div class="wrapper">
        <button class="btn-map <%= 'active' if params[:controller] == 'map' %>" id="change-map">Map View</button>
        <button class="btn-map" id="change-list">List View</button>
        <button class="btn-map" id="change-grid">Grid View</button>
    </div>


    <div class="wrapper">
        <div id="list-view">
            <h3>You have <%= @locations['data'].count %> samples.</h3>
            <% @locations['data'].each do |sample| %>
            <div class="row" id="row-<%= sample['id'] %>">
                <h1 class="row-h1"> <%= sample['id'] %></h1>
                
                <div class="box-list" id="box-<%= sample['id'] %>">
                    <div class="crop">
                        <img src= "<%= sample['photo'] %>"/>
                    </div>
                    
                    <%= link_to "Read more > ", samples_path(sample['id']) %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
