<% provide(:title, "My Samples") %>

<div class="center">
    
    <div class="wrapper">
      <button id="change-map">MAP VIEW</button>
      <button id="change-list">LIST VIEW</button>
      <button id="change-grid">GRID VIEW</button>
    </div>


    <div class="wrapper">
        <div id="list-view">
            <% @locations['data'].each do |sample| %>
            <div class="row" id="row-<%= sample['id'] %>">
                <h1 class="row-h1"> <%= sample['id'] %></h1>
                
                <div class="box-list" id="box-<%= sample['id'] %>">
                    <div class="crop">
                        <img src= "<%= sample['photo'] %>"/>
                    </div>
                    
                    
                    
                    <%= link_to "Read more > ", samples_path(sample['id']) %>
                </div>
            </div>
            <% end %>
        </div>
        
        <div id="grid-view">
            <% @locations['data'].each do |sample| %>
                <div class="grid">
                    <h1> <%= sample['id'] %></h1>
                    <div class="crop">
                        <img src= "<%= sample['photo'] %>"/>
                    </div>
                    <h3>Date / Time taken: <%= sample['datetime'] %></h3>
                    <h3>Weather: <%= sample['weather'] %></h3>
                    <h3>Latitude: <%= sample['lat'] %></h3>
                    <h3>Longitude: <%= sample['lng'] %></h3>
                    
                    <table>
                        
                    </table>
                    <%= link_to "Read more > ", samples_path(sample['id']) %>
                </div>
            <% end %>
        </div>
        
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map">
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnBXNqDm5F3qY8NROuI4_-lPRmZ-KjCIk&libraries=places"
  type="text/javascript" ></script>
        </div>
    </div>
</div>
