<% provide(:title, @sample.name) %>

<h1><%= @sample['id'] %> </h1>
<img src= "<%= @sample['photo'] %>" />
<table>
    <tr>
        <th>Date Time</th>
        <td><%= @sample['datetime'] %></td>
    </tr>
    <tr>
        <th>Weather</th>
        <td><%= @sample['weather'] %></td>
    </tr>
    <tr>
        <th>Latitude</th>
        <td><%= @sample['lat'] %></td>
    </tr>
    <tr>
        <th>Longitude</th>
        <td><%= @sample['lng'] %></td>
    </tr>
    
    
</table>