<% provide(:title, @sample['data']['name']) %>

<div class="center jumbotron">
    <div class="wrapper">
        <nav class="breadcrumb bc-top">
          <a class="breadcrumb-item" href="/">Home </a>
          <a class="breadcrumb-item" href="/map">Samples </a>
          <span class="breadcrumb-item active"><%= @sample['data']['name'] %> </span>
        </nav>
        <img src= "<%= @data['photos'][0] %>" class="img-detail" />
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col col-detail">
                    <h2>General Information</h2>
                    <table class="table tbl-detail" align="center">
                        <tr>
                            <th>Name of Sample:</th>
                            <td><%= @data['name'] %></td>
                        </tr>
                        <tr>
                            <th>Date Time Taken:</th>
                            <td><%= @data['created'] %></td>
                        </tr>
                        <tr>
                            <th>Last Updated:</th>
                            <td><%= @data['updated'] %></td>
                        </tr>
                        <tr>
                            <th>Weather:</th>
                            <td><%= @data['weather'] %></td>
                        </tr>
                        <tr>
                            <th>Latitude:</th>
                            <td><%= @data['lat'] %></td>
                        </tr>
                        <tr>
                            <th>Longitude:</th>
                            <td><%= @data['lng'] %></td>
                        </tr>
                        <tr>
                            <th>Matrix:</th>
                            <td><%= @data['matrix'] %></td>
                        </tr>
                        <tr>
                            <th>Reporting Limit:</th>
                            <td><%= @data['reportingLimit'] %></td>
                        </tr>
                        <tr>
                            <th>Cycle Number:</th>
                            <td><%= @data['cycleNumber'] %></td>
                        </tr>
                        <% if @data['ph'].present? %>
                        
                        <tr>
                            <th>pH:</th>
                            <td><%= @data['ph'] %></td>
                        </tr>
                        <tr>
                            <th>Sample Mass:</th>
                            <td><%= @sampleMass['value'] + " " + @sampleMass['units'] %></td>
                        </tr>
                        <tr>
                            <th>Conductivity at 25C:</th>
                            <td><%= @conductivityAt25C['value'] + " " + @conductivityAt25C['units'] %></td>
                        </tr>
                        <tr>
                            <th>Bicarbonate Alkalinity HCO3:</th>
                            <td><%= @bicarbonateAlkalinityHCO3['value'] + " " + @bicarbonateAlkalinityHCO3['units'] %></td>
                       </tr>
                        <tr>
                            <th>Carbonate Alkalinity CO3:</th>
                            <td><%= @carbonateAlkalinityCO3['value'] + " " + @carbonateAlkalinityCO3['units'] %></td>
                        </tr>
                        <tr>
                            <th>Total Alkalinity CaCO3:</th>
                            <td><%= @totalAlkalinityCaCO3['value'] + " " + @totalAlkalinityCaCO3['units'] %></td>
                        </tr>
                        
                        <% end %>
                    </table>
                </div>
                <div class="col col-detail">
                    <h2>Chemicals</h2>
                    <table class="table" align="center">
                        <% if @chemicals.present? %>
                             <% @chemicals.each do |chem| %>
                            
                            <tr>
                                <th><%= chem.keys[0] %>:</th>
                                <td><%= chem.values[0]['value'] + " " + chem.values[0]['units'] %></td>
                            </tr>
                            
                            <% end %>
                        <% end %>
                    </table> 
                    <div style="margin: 2em 0;">
                        <%= image_tag @png.to_data_url %>
                    </div>
                    
                </div>
            </div>
        </div> 
        <% if @png..present? %>
        <%= image_tag @png.to_data_url %>
        <% end %>
    </div>
    
   
    <% if @admin %>
        <%= link_to '<button type="button">EDIT</button>'.html_safe, 
                "edit/samples"+(@sample['id'].to_s) %>
    <% end %>
    
</div>


