<% provide(:title, "My Samples") %>

<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="wrapper">
            <h1>All Sampling Kit Requests</h1><br>
            <!--<button id="showapprove">Approved Requests</button>-->
            <!--<button id="showunapprove">Un-approved Requests</button><br>-->
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
                <% @users['data'].each do |user| %>
                
                    <%= form_for(@request, url: request_path) do |f| %>
                    <tr class="<%= user['approved'] ? "approvedr" : "unapprovedr" %>">
                        <td><%= user['name'] %></td>
                        <td><%= mail_to user['email'] %></td>
                        
                        <td>
                            <%= user['address']['line1'] + ", " +
                                user['address']['line2'] + ". " +
                                user['address']['postcode'] + ", " +
                                user['address']['state'] + "." %>
                        </td>
                        <td><%= user['quantity'] %></td>
                        <td>
                            <% if !user['approved'] %>
                            Pending
                            <% elsif %>
                             Approved
                             <% end %>
                        </td>
                        <% if !user['approved'] %>
                        <td>
                            <%= f.hidden_field :request_id, :value => user['request_id'] %>
                            <%= f.submit "Approve now", class: "btn btn-primary" %>
                        </td>
                        <% end %>
                    
                    </tr>
                    <% end %>
                <% end %>
            </table>
            
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var ready;
    ready = function() {
        $("#showapprove").click(function(){
            $(".approvedr").css("display", "block")
            $(".unapprovedr").css("display", "none")
        });
        $("#showunapprove").click(function(){
            $(".approvedr").css("display", "none")
            $(".unapprovedr").css("display", "block")
        });
    };
    
    $(document).ready(ready);
    $(document).on("page:load", ready);
</script>