<header>
    <%= link_to image_tag("logo-2-white.png", :alt => "Citizen Science Logo", :class => "small-logo"), root_path, id: "logo" %>
    <h2 class="page-title"><%= yield(:title) %></h2>
    <nav>
      <ul>
        <% if !logged_in? %>
          <li><%= link_to "Register", '/signup', class: 'reg-login' %></li>
          <li><%= link_to "Login", '/login', class: 'reg-login' %></li>
          <li><%= link_to "Help",   '/help' %></li>
        <% elsif !is_admin? %>
          <li><%= link_to 'Samples', '/map' %></li>
          <li><%= link_to 'User Profile', '/profile' %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Samples', '/map' %></li>
          <li><%= link_to 'Requests', '' %></li>
          <li><%= link_to 'Admin Profile', '/profile' %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
</header>